apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector: { matchLabels: { app: backend } }
  template:
    metadata: { labels: { app: backend } }
    spec:
      containers:
        - name: backend
          image: {{ .Values.image.backend }}
          env:
            {{- range $k,$v := .Values.backend.env }}
            - name: {{ $k }}
              value: "{{ $v }}"
            {{- end }}
          ports: [{ containerPort: 8080 }]
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
spec:
  selector: { app: backend }
  ports: [{ name: http, port: 8080, targetPort: 8080 }]
